DATABASE_URL=psql://username:password@db_host:5432/db_name
CACHE_URL=rediscache://localhost:6379
REDIS_TOKEN_URL=rediscache://localhost:6379/1?timeout=360000
API_MEDIA_ROOT=/file/path/for/media/
API_SENTRY_DSN=asdfsadfsdfsdf
